@font-face {
    font-family: 'Varela Round', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway&family=Roboto&family=Varela+Round&display=swap');
}

html, body { height: 100%; width: 100%; margin: 0; }

/* CSS for index.html */
h1 {
    position: relative;
    text-align: center;
    font-family: 'Varela Round';
    font-size: 48px;
    margin-top: 2%;
    margin-bottom: 3%;
}

ul {
    list-style-type: none;
    font-family: 'Varela Round';
    font-size: 24px;
    display: flex;
    justify-content: center;
}

li {
    display: inline;
    text-align: center;
    width: 16.67%;
}

li a {
    color: grey;
    text-decoration: none;
}

.navBar {
    position: absolute;
    width: 100%;
    align-self: center;
    justify-content: center;
    margin-bottom: 100px;
    z-index: 1;
}

.pageHeader {
    position: sticky;
    top: 0px;
    background-color: white;
    height: 25%;
}

p {
    font-family: 'Raleway';
    font-size: 20px;
    z-index: 500;
}


img#main {
    border-radius: 50px;
    margin-left: 10%;
}


.introInfo{
    position: absolute;
    width: 50%;
    height: 70%;
    left: 40%;
    top: 40%;
}

h3 {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bolder;
}


/* CSS for aboutme.html */
.aboutMeLine{
    flex-direction: row;
    display: flex;
}

h4 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
    pointer-events: all;
}

h5 {
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: lighter;
    margin: 20px;
}

.aboutMeSubjectContainer {
    position: absolute;
    line-height: 35px;
    text-align: left;
    top: 25%;
    left: 10%;
    width: 20%;
    padding: 20px;
}

.aboutMeInfoContainer {
    position: absolute;
    line-height: 35px;
    text-align: left;
    top: 25%;
    left: 30%;
    width: 20%;
    padding: 20px;
}

img#aboutMe {
    margin-right: 5%;
    vertical-align: middle;
}

img#rotate{
    transform: rotate(270deg);
}

.map{
    position: absolute;
    left: 50%;
}


.modal {
    font-family: 'Raleway';
	position: absolute;
	z-index: 99999;
    opacity:0;
}

.modal:target {
    opacity:1; 
    pointer-events: auto;
}

.modal > div {
    left: 30%;
    width: 600px;
    height: 400px;
    
	margin: 10%;
    border-radius: 10px;
    background-color: #b8cccc;
}

#openModalName.modal{
    left: 25%;
    top: 20%;
}

#openModalHome.modal{
    left: 25%;
    top: 20%;
}

#openModalPets.modal{
    left: 25%;
    top: 20%;
}

#openModalFood.modal{
    left: 25%;
    top: 20%;
}

#openModalColor.modal{
    left: 25%;
    top: 20%;
}

#openModalSport.modal{
    left: 25%;
    top: 20%;
}

a {
    z-index: 1;
    text-decoration: none;
    color: black;
}

#close{
    display: block;     
    height: 30px; 
    width: 30px;   
}

a:hover{
    color: #33cccc;
}

p{
    padding: 5px;
}

/* CSS for recipes.html */
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    position: relative;
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
  
.hover {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%; 
    text-align: center;
    width: 80%; 
    transition: .5s ease;
    opacity: 0;
}

.overlay-image:hover .hover {
    opacity: 1;
}


span{
    color: white; 
    font-family: 'Varela Round';
    font-size: 60px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

span#small{
    font-size: 40px;
}

span#medium{
    font-size: 50px;
}